body {
background-color: rgb(231, 242, 243);
display: inline;
margin: 8px;
}
.cabecalho {
    background-color: rgb(138, 156, 26);
    display: block;
    border-radius: 200px;
    margin: 0 1px 1px 1px;
    
}

.cabecalho_imagem {
    width: 15%;
    border-radius: 10px;
    display: inline;
    margin: 20px 20px 20px 200px;
    
    
}

.cabecalho_menu {
    display: inline;
    margin-left: 20px
}