body {
background-color: rgb(231, 242, 243);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97dc82;
    border-radius: 20px 20px 20px 100px;
    
    }

.cabecalho_imagem {
    width: 175px;
    height: 175px;
    border-radius: 400px;
    margin: 0px 0px 0px 40px;  
    }
    
.cabecalho_menu {
    display: inline;
}

.cabecalho_menu-item{
    display: inline;
    margin-left: 20px;
    font-size:26px;
    color:rgb(40, 33, 14);
}

.escola {
    display:flex;
    justify-content: center;
    align-items: center;
}

.escola.img {
    widht: 160px;
    height: 160px;
}

.escola_div {
    width: 200px;
    height: 500px;
}