body {
background-color: rgb(231, 242, 243);
}
.cabecalho {
    background-color: rgb(138, 156, 26);
    border-radius: 500px;
    margin: 0 1px 1px 1px;
}

.cabecalho_imagem {
    width: 25px;
}

.cabecalho_menu {
    display: inline;
}